<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br />
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br />
  <div class="field">
    <%= f.label :surname %>
    <%= f.text_field :surname %>
  </div>
  <br />
   <div class="field">
    <%= f.label :date_of_birth %>
    <%= f.date_select :date_of_birth %>
  </div>
  <br />
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <br />
  <div class="field">
    <%= f.label :foot %>
    <%= f.text_field :foot %>
  </div>
  <br />
  <div class="field">
    <%= f.label :position %>
    <%= f.text_field :position %>
  </div>
  <br />
  <div class="field">
    <%= f.label :appearances %>
    <%= f.number_field :appearances %>
  </div>
  <br />
  <div class="field">
    <%= f.label :goals %>
    <%= f.number_field :goals %>
  </div>
  <br />
  <div class="field">
    <%= f.label :assists %>
    <%= f.number_field :assists %>
  </div>
  <br />
  <div class="field">
    <%= f.label :yellow_cards %>
    <%= f.number_field :yellow_cards %>
  </div>
  <br />
  <div class="field">
    <%= f.label :red_cards %>
    <%= f.number_field :red_cards %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>